.container{
	background-color: #FFFFFF;
	display: flex;
	flex-flow:column;
	height: 100%;
}



.logo{
	
	justify-content:center;
	align-items:center;
	display: flex;
}



.nav{
	background-color: #b5f19eb5;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	
	
}

.nav_item{
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 20%;
	min-width: 20%;
	font-family:'Arial';
	font-size: 3vw;
}



a{
	color:rgb(0,0,0);
}

a:link{
	text-decoration:none;
	
}
a:visited{
	text-decoration:none;
}

.image{
	
	display: flex;
	justify-content: center;	
	margin-top: 10px;
}

.information{
    display: flex;
	flex-direction:row;
	justify-content: center;
	column-gap: 50px;
}

.articles{
	
	max-width: 20%;
	min-width: 20%;
	font-family:'Times New Roman';
	justify-content: center;
	font-size: 1.5vw;

}

.article_header{
	font-family: Georgia;
	text-align:center;
	line-height:1%

}

.short{
	display: flex;
	flex-flow: row;
	justify-content: center;	
	margin-top: 30px;
	
	margin-bottom: 10px;
	
	text-align:center;
	font-family:'Times New Roman';
	font-size: 2vw;
	background-color:#b5f19eb5 ;
	column-gap: 10vw;

}

.info{
	display: flex;
	flex-flow: column;
	justify-content: center;	
	margin-top: 10px;
	font-family:'Times New Roman';
	font-size: 1.5vw;
	
	

}



.footer {
	margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 3px;
	font-size: 1vw;
    background-color: #b5f19eb5;
    color: #000000;
}

#board{
    width: 855px;
    height: 500px;
    border: 2px solid mediumspringgreen;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img{
    width: 169px;
    height: 98px;
    border: 0.5px solid lightblue;
}

#pieces{
    width: 1710px;
    height: 300px;
    border: 2px solid mediumspringgreen;


    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img{
    width: 169px;
    height: 98px;
    border: 0.5px solid lightblue;
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
	/* For tablets: */
	.main,.logo,.info,.short {
	  width: 80%;
	  padding: 0;
	  /*margin-left: 0;
	  margin-right: 0;*/
	}

	
  }
  @media only screen and (max-width:480px) {
	/* For mobile phones: */
	 .main,.logo,.info,.short{
	  width: 100%;
	  /*margin-left: 0;
	  margin-right: 0;*/
	}
	.information{
		justify-content: center;
		column-gap: 10;

	}
	.articles_header{
	  font-size: 3.5vw;
	  }
	.articles{
		font-size: 3vw;
		
	}
	.info{
		font-size: 3;
	}
	 .short{
		font-size: 4.5vw;
	}

  }
