.container{
	background-color: #FFFFFF;
	display: flex;
	flex-flow:column;
	height: 100%;
}

.header{
	display: flex;
	flex-flow: row;
	justify-content: center;
	height: 160px;
	padding: 0 10% 0 10%;
}

.header_logo{
	font-size: 50px;
	align-items: center;
	display: flex;
	justify-content: flex;
}

.nav{
	background-color: #b5f19eb5;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width:80%;
	padding: 0 10% 0 18%;
}

.nav_item{
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 20%;
	min-width: 20%;
	font-family:'Arial';
	font-size: 35px;
}

a{
	color:rgb(0,0,0);
}

a:link{
	text-decoration:none;
	
}
a:visited{
	text-decoration:none;
}

.image{
	display: flex;
	justify-content: center;	
	margin-top: 10px;
}

.information{
    	display: flex;
	flex-direction:row;
	justify-content: center;
	column-gap: 50px
}

.articles{
	max-width: 20%;
	min-width: 20%;
	font-family:'Times New Roman';
	font-size: 25px;

}

.article_header{
	text-align:center;
	line-height:1%

}

.footer {
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: #b5f19eb5;
    color: #000000;
}
